doctype html
html
  head
    title= title
    link(
      href="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css"
      rel="stylesheet"
    )
  body
    main#main

    script(src="index.js")
